.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.dashboard {
  position: relative;
  height: 50%;
  width: 50%;  
  border: 1px solid #222;
  background: orange;
  padding: 10px
}

.dashboard-contents {
  height: 100%
}

.display {
  height: calc( 100% * 2 / 3);
  width: 100%;
  overflow-y: auto;
  border: 1px solid #222;
  background: midnightblue;
  color: white;
  padding: 5px 20px;
}

pre {
  width: 100%;
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.controls {
  height: calc( 100% / 3);
  padding-top: 10px;
}

.controls-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #666;
}

.rocket-logo {
  max-height: 100%;
  max-width: 100%;
}

.rocket-logo-wrap {
  border-left: 1px solid #666;
  border-right: 1px solid #666;
  padding: 5px; 
}

.capsule-btn-wrap {
  height: 100%;
  padding: 5px; 
}

.rocket-logo-wrap, .capsule-btn-wrap .content, .landpad-form {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rocket-logo-wrap, .capsule-btn-wrap {
  flex-basis: 20%;
}

.landpad-form {
  flex-shrink: 0.5;    
  flex-grow: 0.5;
  padding: 5px; 
}


.landpad-form input[type=text] {
  height: 30px;
  text-align: center;
  margin: 0 10px 0 0;
}

.landpad-form button {
  flex-shrink: 1
}

button {
  height: 100%;
  max-height: 50px;
  border-radius: 5px;
  border: 1px solid #666;
  text-align: center;
}


@media only screen  
  and (max-width: 500px) {
    .App {
      /* display: block; */
      width: fit-content;
    }
    .dashboard {
        width: 500px;
    }
}

@media only screen  
  and (max-height: 230px) {
    .App {
      display: block;
      /* height: auto */
    }
    .dashboard {  
        display: block; 
        height: 230px;
        margin: 0 auto;
    }
}


@media only screen 
  and (min-device-width: 960px) {
    .dashboard {
      min-width: 500px;
      /* min-width: 395px; */
      min-height: 230px;
    }
}


@media only screen  
  and (max-device-width: 960px) and (max-device-height: 960px) {
    .App {
      padding: 0;
      display: block;
      width: 100%;
    }
    .dashboard {
        height: 100%;
        width: 100%;
    }
    .dashboard-contents {
      display: flex;
      width: 100%;
    }
    .display {
      width: calc( 100% * 2 / 3);
      height: 100%;
    }
    .controls {
      width: calc( 100% * 1 / 3);
      height: 100%;
      padding: 0 0 0 10px;
    }
    
    .controls-container {
      flex-direction: column;
    }
    
    .rocket-logo-wrap {
      border-left: none;
      border-right: none;
      border-top: 1px solid #666;
      border-bottom: 1px solid #666;
      flex-grow: 0.4;
    }

    .rocket-logo-wrap, .capsule-btn-wrap, .landpad-form {
      width: 100%;
      height: auto;
    }

    .capsule-btn-wrap {
      padding: 0 5px; 
    }

    .landpad-form {
      flex-direction: column;
      padding: 0 5px;
    }

    .landpad-form button {
      margin-top: 10px
    }
    
    .landpad-form input[type=text] {
      width: 100%;
      margin: 0;
    }
    
    button {
      width: 100%;
    }
}
